body, html {
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 254, 254, 0.322), rgba(243, 178, 214, 0.932));
    background-size: cover;
    
  }
  
 *{
   margin: 0px;
   padding:0px;
 }
 .district{
   margin-left: 85px;
   margin-right: 20px;
   margin-bottom: 20px;
   margin-top: 20px;
  
 }
 
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: center;
  width: 30%;
  padding: 0px 10px;
  margin:10px;
  height: 100%;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(248, 11, 157, 0.644);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  
  box-decoration-break: slice;
}
.column img{
  height: 150px;
  width: 343px;
  
}
p{
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
  margin-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-style: oblique;
  font-size: 40px;
  color: rgb(6, 50, 94);
}
.navbar-nav{
  margin-left: 40%;

}

.nav-item{
    float:left;
    font-size: 25px;
    text-shadow: 4px 4px 6px rgb(109, 6, 74);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.footer{
  background-color: rgb(6, 43, 17);
  color: white;
  height: 3em;
  margin-top: 0px;
}
.footer p{
 text-align: center;
 font-weight: bolder;
 font-family: 'Times New Roman', Times, serif;
 padding-top:10px;
}
